*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: rgb(219, 226, 226);
}

.row{
	background: white;
	border-radius: 30px;
}

img{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.btn1{
	border-radius: 4px;
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	background-color: black;
	color: white;
	font-weight: bold;
	margin-bottom: 10px;
}

